/* for loading font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


body{
    background-color: rgb(243, 229, 217);
  }

  *{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }

  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
  }
  /* Naviation bar*/
nav{
    background: rgb(247, 214, 186);
    height: 85px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
  }
  label.logo{
    color: brown;
    font-size: 35px;
    line-height: 85px;
    padding: 0 90px;
    font-family:'Nunito';
    letter-spacing: 2px;
  }
  nav ul{
    float: right;
    margin-right: 90px;
  }
  nav ul li{
    display: inline-block;
    line-height: 85px;
    margin: 0 20px;
  }
  nav ul li a{
    color: brown;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    border: 1px solid brown;
  }
  a.active,body nav ul li a:hover{
    color:rgb(247, 227, 210);
    background: brown;
    transition: .3s;
  }

    .wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
/* Container class*/
    .container{

    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: rgb(247, 214, 186);
    box-shadow: 0 0 5px #999999;
    }



    .login .col-left,
    .login .col-right{
    padding: 30px;
    display: flex;
    }


    .login .col-left{
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0 );
    background: brown;
    }

    .login .col-right{
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
    }


    @media(max-width: 575px){
        .login .container{
        flex-direction: column;
        box-shadow: none;
        }
        .login .col-left,
        .login .col-right{
        width: 100%;
        margin: 0;
        clip-path: none;
        }
        .login .col-right{
        padding: 30px;
        }

        }
/* Text Class login*/

        .login .login-text{
        position: relative;
        width: 100%;
        color: rgb(247, 214, 186);
        }

        .login .login-text h2{
        margin: 0 0 15px 0;
        font-size: 30px;
        font-weight: 700;
        }

        .login .login-text p{
        margin: 0 0 20px 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        }

        .login .login-text .btn{
        display: inline-block;
        font-family: poppins;
        padding: 7px 20px;
        font-size: 16px;
        letter-spacing: 1px;
        text-decoration: none;
        border-radius: 5px;
        color: rgb(247, 214, 186);
        outline: none;
        border: 1px solid rgb(243, 229, 217);
        transition: .3s;
        }

        .login .login-text .btn:hover{
        color: brown;
        background-color: rgb(247, 227, 210);
        }
/* Login form Class*/

        .login .login-form{
        position: relative;
        width: 100%;
        }
        .login .login-form h2{
        margin: 0 0 15px 0;
        font-size: 22px;
        font-weight: 700;
        }
        .login .login-form p{
        margin: 0 0 10px 0;
        text-align: left;
        color: #666666;
        font-size: 15px;
        }
        .login .login-form p:last-child{
        margin: 0;
        padding-top: 3px;
        }
        .login .login-form p a{
        color: brown;
        font-size: 14px;
        text-decoration: none;
        }
        .login .login-form label {
        display: block;
        width: 100%;
        margin-bottom: 2px;
        letter-spacing: .5px;
        }
        .login .login-form p:last-child label{
        width: 60%;
        float: left;
        }
        .login .login-form label span{
        color: #ff574e;
        padding-left: 2px;
        }
        .login .login-form input{
        display: block;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        border-radius: 5px;
        }
        .login .login-form input:focus{
        border-color: #ff574e;
        }
        .footer .credit1{
          padding:1.5rem 3rem;
          border-top: .2rem solid rgba(0,0,0,.1);
          margin-top: 1rem;
          text-align: center;
          font-size: 2rem;
        }
        .footer .credit1 span{
          color:brown;
        }
        .footer .credit{
          padding:1.5rem 3rem;
          text-align: center;
          font-size: 2rem;
        }

        .footer .credit span{
          color:brown;
        }
        .footer .box-container .box .share a{
          padding:0;
          height:4rem;
          width:4rem;
          line-height: 4rem;
          text-align: center;
        }
