@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

body{
  background-color: rgb(243, 229, 217);
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}
nav{
  background: rgb(247, 214, 186);
  height: 85px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
}
label.logo{
  color: brown;
  font-size: 35px;
  line-height: 85px;
  padding: 0 90px;
  font-family:'Nunito';
  letter-spacing: 2px;
}
nav ul{
  float: right;
  margin-right: 90px;
}
nav ul li{
  display: inline-block;
  line-height: 85px;
  margin: 0 20px;
}
nav ul li a{
  color: brown;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  border: 1px solid brown;
}
a.active,body nav ul li a:hover{
  color:rgb(247, 227, 210);
  background: brown;
  transition: .3s;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:brown;
  color:#fff;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover{
  background: rgb(241, 175, 116);
}

.heading{
  text-align: center;
  color:var(--black);
  text-transform: uppercase;
  padding:1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.heading span{
  color:var(--green);
  text-transform: uppercase;
}

.logo{
  color:rgb(247, 214, 186);
  font-weight: bolder;
  font-size: 3rem;
}

.logo i{
  padding-right: .5rem;
  color:rgb(247, 214, 186)
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image{
  flex:1 1 30rem;
  padding-top: 200px;
}

.home .image img{
  width:100%;
}

.home .content{
  flex:1 1 20rem;
  padding-top: 180px;
}

.home .content span{
  font-size: 3rem;
  color:#666;
}

.home .content h3{
  font-size: 5rem;
  color:var(--black);
}

.footer .credit1{
  padding:1.5rem 3rem;
  border-top: .2rem solid rgba(0,0,0,.1);
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.footer .credit1 span{
  color:brown;
}
.footer .credit{
  padding:1.5rem 3rem;
  text-align: center;
  font-size: 2rem;
}

.footer .credit span{
  color:brown;
}
.footer .box-container .box .share a{
  padding:0;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
} 
/* responsiveness */

@media(max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media(max-width:991px){
  
  section{
    padding:2rem;
  }

}

@media(max-width:768px){
  .home .content{
    text-align: center;
  }

  .home .content h3{
    font-size: 4rem;
  }
}

